.FULL-text-desprenoi section {
  padding: 10px 4%;
  min-width: 350px;
}

.FULL-text-desprenoi  h1{
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-align: center;
}

.FULL-text-desprenoi, .lista-obiective{
  color: white;
}
.FULL-text-desprenoi, .lista-obiective li{
  font-size: 16px;
}

.first-section{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.despre-noi-text li{
  font-size: 20px;
}
