@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  height: 100%;
  background: #27282c;
  display: flex;
  flex-direction: column;
}

.top-bar{
  display: flex;
  flex-wrap: wrap;
  align-self: auto;
  column-gap: 5%;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.952);
}

.box-top-bar{
  min-width: 230px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.Text-top-bar{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'Roboto', arial;
  text-align: justify;
  white-space: nowrap;
}

.meniu-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meniu-inside-box{
  min-width: 250px;
  display: flex;
  align-items: center;
}

.meniu-text{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', arial;
  transition: 0.3s;
  border-top: 1px;
}

.meniu-text:hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
 }

 .footer{
  background-color: rgba(0, 0, 0, 0.753);
  font-family: Roboto, arial;
  color: white;
  padding: 5px 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
 }
  



/*  meniu simplu */

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar{
position: relative;
padding: 25px 0;
transition: all 0.3s ease;
}


.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list{
  display: inline-flex;
}

.menu-list li{
 list-style: none;
}


.menu-list li a{
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
   color: rgb(248, 57, 23);;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn{
  position: absolute;
  right: 32px;
  top: 25px;
}