.poza-produs{
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 300px;
  object-fit: cover;
  margin-bottom: -4px;
}



/* poza banner */

.div-imagine-produse{
  position: relative;
  text-align: center;
  background: url("/photos/poza.jpg") no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(70%);
}



.page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  color: rgba(0, 0, 0, 0.678);
  font-size: 75px;
  font-family: Roboto, Arial;
  font-weight: bold;
}


.cutie-produs{
  margin-right: 3px;
  margin-left: 0 auto;
  width: 50%;
  min-width: 220px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1.4px;
  border-color: white;
  margin-left: 80px;
}

.cutie-produs:hover{
  box-shadow: 0px 0px 35px #a5a5a5;
  transition: 0.25s;
}

.button-comanda{
  position: relative;
}

.button-comanda{
  border: 0;
  padding: 20px 70px;
  background: #202020;
  font-size: 15px;
  border-radius: 0 0 10px 10px;
  color: rgb(255, 255, 255);
  width:  100%;
  min-width:60%;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 22px;
}

.button-comanda:hover{
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 35px #292929;
}